.game {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 60%;

    .game-inception {
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .game-board {
        border: 1px solid #999;
    }

    .game-info {
        font-size: 30px;
        margin-bottom: 10px;
        line-height: 40px;
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // justify-content: space-between;

        ol, ul {
            padding-left: 30px;
        }
    }
}